---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% if post.external_url %}
            <a href="{{ post.external_url }}" data-analytics-path="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="external-site">[{{ post.external_site }}]</span>
          {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
